--
-- PostgreSQL database dump
--

\restrict J9iMAh2GWuj4X9lhhwU3c2apzmnUitLDCSpFwCdeVW5rLdAdCHqmIGJKcLENDI8

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidacy; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.candidacy (
    candidate_id integer NOT NULL,
    race_id integer NOT NULL
);


ALTER TABLE public.candidacy OWNER TO appuser;

--
-- Name: TABLE candidacy; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.candidacy IS 'Link between candidates to races.';


--
-- Name: candidate; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.candidate (
    candidate_id integer NOT NULL,
    name character varying(200) NOT NULL,
    party character varying(100)
);


ALTER TABLE public.candidate OWNER TO appuser;

--
-- Name: TABLE candidate; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.candidate IS 'Candidates running in elections are here.';


--
-- Name: candidate_candidate_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

CREATE SEQUENCE public.candidate_candidate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidate_candidate_id_seq OWNER TO appuser;

--
-- Name: candidate_candidate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: appuser
--

ALTER SEQUENCE public.candidate_candidate_id_seq OWNED BY public.candidate.candidate_id;


--
-- Name: community_services; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.community_services (
    ward_number integer NOT NULL,
    service_type character varying(100) NOT NULL,
    count integer NOT NULL
);


ALTER TABLE public.community_services OWNER TO appuser;

--
-- Name: TABLE community_services; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.community_services IS 'Community service facilities by ward.';


--
-- Name: election; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.election (
    election_id integer NOT NULL,
    year integer NOT NULL,
    election_type character varying(50),
    election_date date
);


ALTER TABLE public.election OWNER TO appuser;

--
-- Name: TABLE election; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.election IS 'Individual election events are represented in this table.';


--
-- Name: election_election_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

CREATE SEQUENCE public.election_election_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.election_election_id_seq OWNER TO appuser;

--
-- Name: election_election_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: appuser
--

ALTER SEQUENCE public.election_election_id_seq OWNED BY public.election.election_id;


--
-- Name: election_result; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.election_result (
    station_code integer NOT NULL,
    candidate_id integer NOT NULL,
    race_id integer NOT NULL,
    votes integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.election_result OWNER TO appuser;

--
-- Name: TABLE election_result; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.election_result IS 'Details on vote counts by station.';


--
-- Name: race; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.race (
    race_id integer NOT NULL,
    election_id integer NOT NULL,
    type character varying(50) NOT NULL,
    ward_number integer
);


ALTER TABLE public.race OWNER TO appuser;

--
-- Name: TABLE race; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.race IS 'Individual races in an election event - mayor or councillor.';


--
-- Name: COLUMN race.ward_number; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON COLUMN public.race.ward_number IS 'NULL for city-wide mayoral race, specific wards for councillor.';


--
-- Name: race_race_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

CREATE SEQUENCE public.race_race_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.race_race_id_seq OWNER TO appuser;

--
-- Name: race_race_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: appuser
--

ALTER SEQUENCE public.race_race_id_seq OWNED BY public.race.race_id;


--
-- Name: voting_station; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.voting_station (
    station_code integer NOT NULL,
    ward_number integer NOT NULL,
    station_name character varying(200),
    station_type character varying(50)
);


ALTER TABLE public.voting_station OWNER TO appuser;

--
-- Name: TABLE voting_station; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.voting_station IS 'Physical voting locations, identifiable by ward.';


--
-- Name: ward; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward (
    ward_number integer NOT NULL,
    ward_name character varying(100)
);


ALTER TABLE public.ward OWNER TO appuser;

--
-- Name: TABLE ward; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward IS 'Referential table - all characteristics will reference this table.';


--
-- Name: COLUMN ward.ward_number; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON COLUMN public.ward.ward_number IS 'Primary key: Ward number 1-14.';


--
-- Name: ward_age_gender; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_age_gender (
    ward_number integer NOT NULL,
    age_group character varying(20) NOT NULL,
    male_count integer NOT NULL,
    female_count integer NOT NULL,
    total integer NOT NULL
);


ALTER TABLE public.ward_age_gender OWNER TO appuser;

--
-- Name: TABLE ward_age_gender; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_age_gender IS 'Population by age group and gender.';


--
-- Name: ward_crime; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_crime (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    rate_per_1000 numeric(6,2) NOT NULL
);


ALTER TABLE public.ward_crime OWNER TO appuser;

--
-- Name: TABLE ward_crime; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_crime IS 'Crime stats by ward.';


--
-- Name: ward_disorder; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_disorder (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    rate_per_1000 numeric(6,2) NOT NULL
);


ALTER TABLE public.ward_disorder OWNER TO appuser;

--
-- Name: TABLE ward_disorder; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_disorder IS 'Disorder incidence per ward.';


--
-- Name: ward_education; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_education (
    ward_number integer NOT NULL,
    education_level character varying(100) NOT NULL,
    count integer NOT NULL,
    percent numeric(5,2)
);


ALTER TABLE public.ward_education OWNER TO appuser;

--
-- Name: TABLE ward_education; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_education IS 'Education levels categorized by wards.';


--
-- Name: ward_income; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_income (
    ward_number integer NOT NULL,
    income_group character varying(50) NOT NULL,
    household_count integer NOT NULL
);


ALTER TABLE public.ward_income OWNER TO appuser;

--
-- Name: TABLE ward_income; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_income IS 'Household income distribution by ward, by income group.';


--
-- Name: ward_labour_force; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_labour_force (
    ward_number integer NOT NULL,
    gender character varying(10) NOT NULL,
    eligible integer NOT NULL,
    in_labour_force integer,
    employed integer,
    self_employed integer,
    unemployed integer,
    not_in_labour_force integer,
    participation_rate numeric(5,2),
    employment_rate numeric(5,2),
    unemployment_rate numeric(5,2)
);


ALTER TABLE public.ward_labour_force OWNER TO appuser;

--
-- Name: TABLE ward_labour_force; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_labour_force IS 'Labour force statistics by ward and gender.';


--
-- Name: ward_population; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_population (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    density numeric(10,2),
    total_households integer
);


ALTER TABLE public.ward_population OWNER TO appuser;

--
-- Name: TABLE ward_population; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_population IS 'Ward population statistics.';


--
-- Name: ward_recreation; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_recreation (
    ward_number integer NOT NULL,
    facility_type character varying(100) NOT NULL,
    count integer NOT NULL
);


ALTER TABLE public.ward_recreation OWNER TO appuser;

--
-- Name: TABLE ward_recreation; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_recreation IS 'Recreation facilities by type and by ward.';


--
-- Name: ward_transit_stops; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_transit_stops (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    active integer NOT NULL,
    inactive integer
);


ALTER TABLE public.ward_transit_stops OWNER TO appuser;

--
-- Name: TABLE ward_transit_stops; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_transit_stops IS 'Public transit stop counts by ward.';


--
-- Name: ward_transport_mode; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.ward_transport_mode (
    ward_number integer NOT NULL,
    transport_mode character varying(50) NOT NULL,
    count integer NOT NULL,
    percent numeric(5,2)
);


ALTER TABLE public.ward_transport_mode OWNER TO appuser;

--
-- Name: TABLE ward_transport_mode; Type: COMMENT; Schema: public; Owner: appuser
--

COMMENT ON TABLE public.ward_transport_mode IS 'Mode of commute to work by ward';


--
-- Name: candidate candidate_id; Type: DEFAULT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidate ALTER COLUMN candidate_id SET DEFAULT nextval('public.candidate_candidate_id_seq'::regclass);


--
-- Name: election election_id; Type: DEFAULT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election ALTER COLUMN election_id SET DEFAULT nextval('public.election_election_id_seq'::regclass);


--
-- Name: race race_id; Type: DEFAULT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.race ALTER COLUMN race_id SET DEFAULT nextval('public.race_race_id_seq'::regclass);


--
-- Data for Name: candidacy; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: candidate; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: community_services; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: election; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.election (election_id, year, election_type, election_date) FROM stdin;
1	2021	Municipal	2021-10-18
\.


--
-- Data for Name: election_result; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: race; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.race (race_id, election_id, type, ward_number) FROM stdin;
1	1	MAYOR	\N
2	1	COUNCILLOR	1
3	1	COUNCILLOR	2
4	1	COUNCILLOR	3
5	1	COUNCILLOR	4
6	1	COUNCILLOR	5
7	1	COUNCILLOR	6
8	1	COUNCILLOR	7
9	1	COUNCILLOR	8
10	1	COUNCILLOR	9
11	1	COUNCILLOR	10
12	1	COUNCILLOR	11
13	1	COUNCILLOR	12
14	1	COUNCILLOR	13
15	1	COUNCILLOR	14
\.


--
-- Data for Name: voting_station; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.ward (ward_number, ward_name) FROM stdin;
1	Ward 1
2	Ward 2
3	Ward 3
4	Ward 4
5	Ward 5
6	Ward 6
7	Ward 7
8	Ward 8
9	Ward 9
10	Ward 10
11	Ward 11
12	Ward 12
13	Ward 13
14	Ward 14
\.


--
-- Data for Name: ward_age_gender; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward_crime; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.ward_crime (ward_number, total, rate_per_1000) FROM stdin;
1	846	10.00
2	783	8.00
3	674	8.00
4	1445	16.00
5	2086	20.00
6	907	9.00
7	3020	39.00
8	2840	30.00
9	3298	39.00
10	2744	31.00
11	1695	17.00
12	1309	13.00
13	914	10.00
14	744	9.00
\.


--
-- Data for Name: ward_disorder; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.ward_disorder (ward_number, total, rate_per_1000) FROM stdin;
1	2379	27.00
2	2100	22.00
3	1785	21.00
4	3958	45.00
5	4492	42.00
6	2609	27.00
7	13872	179.00
8	13551	141.00
9	11186	131.00
10	8935	100.00
11	5838	57.00
12	2738	27.00
13	2509	27.00
14	1842	21.00
\.


--
-- Data for Name: ward_education; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward_income; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward_labour_force; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward_population; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.ward_population (ward_number, total, density, total_households) FROM stdin;
1	87780	\N	\N
2	94935	\N	\N
3	85675	\N	\N
4	88825	\N	\N
5	106220	\N	\N
6	98175	\N	\N
7	77660	\N	\N
8	95800	\N	\N
9	85410	\N	\N
10	89485	\N	\N
11	102435	\N	\N
12	101455	\N	\N
13	91535	\N	\N
14	86450	\N	\N
\.


--
-- Data for Name: ward_recreation; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ward_transit_stops; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.ward_transit_stops (ward_number, total, active, inactive) FROM stdin;
1	533	452	81
2	433	405	28
3	290	272	18
4	593	527	66
5	604	465	139
6	461	389	72
7	678	456	222
8	558	392	166
9	891	679	212
10	557	495	62
11	635	522	113
12	570	458	112
13	334	292	42
14	480	425	55
\.


--
-- Data for Name: ward_transport_mode; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Name: candidate_candidate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.candidate_candidate_id_seq', 1, false);


--
-- Name: election_election_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.election_election_id_seq', 1, false);


--
-- Name: race_race_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.race_race_id_seq', 1, false);


--
-- Name: candidacy candidacy_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_pkey PRIMARY KEY (candidate_id, race_id);


--
-- Name: candidate candidate_name_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT candidate_name_key UNIQUE (name);


--
-- Name: candidate candidate_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT candidate_pkey PRIMARY KEY (candidate_id);


--
-- Name: community_services community_services_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.community_services
    ADD CONSTRAINT community_services_pkey PRIMARY KEY (ward_number, service_type);


--
-- Name: election election_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election
    ADD CONSTRAINT election_pkey PRIMARY KEY (election_id);


--
-- Name: election_result election_result_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_pkey PRIMARY KEY (station_code, candidate_id, race_id);


--
-- Name: election election_year_election_type_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election
    ADD CONSTRAINT election_year_election_type_key UNIQUE (year, election_type);


--
-- Name: race race_election_id_type_ward_number_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_election_id_type_ward_number_key UNIQUE (election_id, type, ward_number);


--
-- Name: race race_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_pkey PRIMARY KEY (race_id);


--
-- Name: voting_station voting_station_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.voting_station
    ADD CONSTRAINT voting_station_pkey PRIMARY KEY (station_code);


--
-- Name: ward_age_gender ward_age_gender_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_age_gender
    ADD CONSTRAINT ward_age_gender_pkey PRIMARY KEY (ward_number, age_group);


--
-- Name: ward_crime ward_crime_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_crime
    ADD CONSTRAINT ward_crime_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_disorder ward_disorder_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_disorder
    ADD CONSTRAINT ward_disorder_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_education ward_education_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_education
    ADD CONSTRAINT ward_education_pkey PRIMARY KEY (ward_number, education_level);


--
-- Name: ward_income ward_income_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_income
    ADD CONSTRAINT ward_income_pkey PRIMARY KEY (ward_number, income_group);


--
-- Name: ward_labour_force ward_labour_force_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_labour_force
    ADD CONSTRAINT ward_labour_force_pkey PRIMARY KEY (ward_number, gender);


--
-- Name: ward ward_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward
    ADD CONSTRAINT ward_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_population ward_population_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_population
    ADD CONSTRAINT ward_population_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_recreation ward_recreation_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_recreation
    ADD CONSTRAINT ward_recreation_pkey PRIMARY KEY (ward_number, facility_type);


--
-- Name: ward_transit_stops ward_transit_stops_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_transit_stops
    ADD CONSTRAINT ward_transit_stops_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_transport_mode ward_transport_mode_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_transport_mode
    ADD CONSTRAINT ward_transport_mode_pkey PRIMARY KEY (ward_number, transport_mode);


--
-- Name: candidacy candidacy_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate(candidate_id);


--
-- Name: candidacy candidacy_race_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_race_id_fkey FOREIGN KEY (race_id) REFERENCES public.race(race_id);


--
-- Name: community_services community_services_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.community_services
    ADD CONSTRAINT community_services_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: election_result election_result_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate(candidate_id);


--
-- Name: election_result election_result_race_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_race_id_fkey FOREIGN KEY (race_id) REFERENCES public.race(race_id);


--
-- Name: election_result election_result_station_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_station_code_fkey FOREIGN KEY (station_code) REFERENCES public.voting_station(station_code);


--
-- Name: race race_election_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_election_id_fkey FOREIGN KEY (election_id) REFERENCES public.election(election_id);


--
-- Name: race race_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: voting_station voting_station_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.voting_station
    ADD CONSTRAINT voting_station_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_age_gender ward_age_gender_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_age_gender
    ADD CONSTRAINT ward_age_gender_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_crime ward_crime_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_crime
    ADD CONSTRAINT ward_crime_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_disorder ward_disorder_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_disorder
    ADD CONSTRAINT ward_disorder_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_education ward_education_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_education
    ADD CONSTRAINT ward_education_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_income ward_income_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_income
    ADD CONSTRAINT ward_income_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_labour_force ward_labour_force_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_labour_force
    ADD CONSTRAINT ward_labour_force_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_population ward_population_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_population
    ADD CONSTRAINT ward_population_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_recreation ward_recreation_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_recreation
    ADD CONSTRAINT ward_recreation_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_transit_stops ward_transit_stops_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_transit_stops
    ADD CONSTRAINT ward_transit_stops_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_transport_mode ward_transport_mode_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.ward_transport_mode
    ADD CONSTRAINT ward_transport_mode_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- PostgreSQL database dump complete
--

\unrestrict J9iMAh2GWuj4X9lhhwU3c2apzmnUitLDCSpFwCdeVW5rLdAdCHqmIGJKcLENDI8

