--
-- PostgreSQL database dump
--

\restrict Dq0O4FiSo8s3ZCPaeBeAJeS0iKdRMwbuejZYfdSabxv7g3ezeoPyo0oNnvsgCYp

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidacy; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidacy (
    candidate_id integer NOT NULL,
    race_id integer NOT NULL
);


--
-- Name: TABLE candidacy; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.candidacy IS 'Link between candidates to races.';


--
-- Name: candidate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate (
    candidate_id integer NOT NULL,
    name character varying(200) NOT NULL,
    party character varying(100)
);


--
-- Name: TABLE candidate; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.candidate IS 'Candidates running in elections are here.';


--
-- Name: candidate_candidate_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.candidate_candidate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: candidate_candidate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.candidate_candidate_id_seq OWNED BY public.candidate.candidate_id;


--
-- Name: community_services; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.community_services (
    ward_number integer NOT NULL,
    service_type character varying(100) NOT NULL,
    count integer NOT NULL
);


--
-- Name: TABLE community_services; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.community_services IS 'Community service facilities by ward.';


--
-- Name: election; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.election (
    election_id integer NOT NULL,
    year integer NOT NULL,
    election_type character varying(50),
    election_date date
);


--
-- Name: TABLE election; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.election IS 'Individual election events are represented in this table.';


--
-- Name: election_election_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.election_election_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: election_election_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.election_election_id_seq OWNED BY public.election.election_id;


--
-- Name: election_result; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.election_result (
    station_code integer NOT NULL,
    candidate_id integer NOT NULL,
    race_id integer NOT NULL,
    votes integer DEFAULT 0 NOT NULL
);


--
-- Name: TABLE election_result; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.election_result IS 'Details on vote counts by station.';


--
-- Name: race; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.race (
    race_id integer NOT NULL,
    election_id integer NOT NULL,
    type character varying(50) NOT NULL,
    ward_number integer
);


--
-- Name: TABLE race; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.race IS 'Individual races in an election event - mayor or councillor.';


--
-- Name: COLUMN race.ward_number; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.race.ward_number IS 'NULL for city-wide mayoral race, specific wards for councillor.';


--
-- Name: race_race_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.race_race_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: race_race_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.race_race_id_seq OWNED BY public.race.race_id;


--
-- Name: voting_station; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.voting_station (
    station_code integer NOT NULL,
    ward_number integer NOT NULL,
    station_name character varying(200),
    station_type character varying(50)
);


--
-- Name: TABLE voting_station; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.voting_station IS 'Physical voting locations, identifiable by ward.';


--
-- Name: ward; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward (
    ward_number integer NOT NULL,
    ward_name character varying(100)
);


--
-- Name: TABLE ward; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward IS 'Referential table - all characteristics will reference this table.';


--
-- Name: COLUMN ward.ward_number; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ward.ward_number IS 'Primary key: Ward number 1-14.';


--
-- Name: ward_age_gender; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_age_gender (
    ward_number integer NOT NULL,
    age_group character varying(20) NOT NULL,
    male_count integer NOT NULL,
    female_count integer NOT NULL,
    total integer NOT NULL
);


--
-- Name: TABLE ward_age_gender; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_age_gender IS 'Population by age group and gender.';


--
-- Name: ward_crime; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_crime (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    rate_per_1000 numeric(6,2) NOT NULL
);


--
-- Name: TABLE ward_crime; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_crime IS 'Crime stats by ward.';


--
-- Name: ward_disorder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_disorder (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    rate_per_1000 numeric(6,2) NOT NULL
);


--
-- Name: TABLE ward_disorder; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_disorder IS 'Disorder incidence per ward.';


--
-- Name: ward_education; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_education (
    ward_number integer NOT NULL,
    education_level character varying(100) NOT NULL,
    count integer NOT NULL,
    percent numeric(5,2)
);


--
-- Name: TABLE ward_education; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_education IS 'Education levels categorized by wards.';


--
-- Name: ward_income; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_income (
    ward_number integer NOT NULL,
    income_group character varying(50) NOT NULL,
    household_count integer NOT NULL
);


--
-- Name: TABLE ward_income; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_income IS 'Household income distribution by ward, by income group.';


--
-- Name: ward_labour_force; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_labour_force (
    ward_number integer NOT NULL,
    gender character varying(10) NOT NULL,
    eligible integer NOT NULL,
    in_labour_force integer,
    employed integer,
    self_employed integer,
    unemployed integer,
    not_in_labour_force integer,
    participation_rate numeric(5,2),
    employment_rate numeric(5,2),
    unemployment_rate numeric(5,2)
);


--
-- Name: TABLE ward_labour_force; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_labour_force IS 'Labour force statistics by ward and gender.';


--
-- Name: ward_population; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_population (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    density numeric(10,2),
    total_households integer
);


--
-- Name: TABLE ward_population; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_population IS 'Ward population statistics.';


--
-- Name: ward_recreation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_recreation (
    ward_number integer NOT NULL,
    facility_type character varying(100) NOT NULL,
    count integer NOT NULL
);


--
-- Name: TABLE ward_recreation; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_recreation IS 'Recreation facilities by type and by ward.';


--
-- Name: ward_transit_stops; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_transit_stops (
    ward_number integer NOT NULL,
    total integer NOT NULL,
    active integer NOT NULL,
    inactive integer
);


--
-- Name: TABLE ward_transit_stops; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_transit_stops IS 'Public transit stop counts by ward.';


--
-- Name: ward_transport_mode; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ward_transport_mode (
    ward_number integer NOT NULL,
    transport_mode character varying(50) NOT NULL,
    count integer NOT NULL,
    percent numeric(5,2)
);


--
-- Name: TABLE ward_transport_mode; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ward_transport_mode IS 'Mode of commute to work by ward';


--
-- Name: candidate candidate_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate ALTER COLUMN candidate_id SET DEFAULT nextval('public.candidate_candidate_id_seq'::regclass);


--
-- Name: election election_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election ALTER COLUMN election_id SET DEFAULT nextval('public.election_election_id_seq'::regclass);


--
-- Name: race race_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.race ALTER COLUMN race_id SET DEFAULT nextval('public.race_race_id_seq'::regclass);


--
-- Name: candidacy candidacy_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_pkey PRIMARY KEY (candidate_id, race_id);


--
-- Name: candidate candidate_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT candidate_name_key UNIQUE (name);


--
-- Name: candidate candidate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT candidate_pkey PRIMARY KEY (candidate_id);


--
-- Name: community_services community_services_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_services
    ADD CONSTRAINT community_services_pkey PRIMARY KEY (ward_number, service_type);


--
-- Name: election election_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election
    ADD CONSTRAINT election_pkey PRIMARY KEY (election_id);


--
-- Name: election_result election_result_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_pkey PRIMARY KEY (station_code, candidate_id, race_id);


--
-- Name: election election_year_election_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election
    ADD CONSTRAINT election_year_election_type_key UNIQUE (year, election_type);


--
-- Name: race race_election_id_type_ward_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_election_id_type_ward_number_key UNIQUE (election_id, type, ward_number);


--
-- Name: race race_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_pkey PRIMARY KEY (race_id);


--
-- Name: voting_station voting_station_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voting_station
    ADD CONSTRAINT voting_station_pkey PRIMARY KEY (station_code);


--
-- Name: ward_age_gender ward_age_gender_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_age_gender
    ADD CONSTRAINT ward_age_gender_pkey PRIMARY KEY (ward_number, age_group);


--
-- Name: ward_crime ward_crime_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_crime
    ADD CONSTRAINT ward_crime_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_disorder ward_disorder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_disorder
    ADD CONSTRAINT ward_disorder_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_education ward_education_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_education
    ADD CONSTRAINT ward_education_pkey PRIMARY KEY (ward_number, education_level);


--
-- Name: ward_income ward_income_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_income
    ADD CONSTRAINT ward_income_pkey PRIMARY KEY (ward_number, income_group);


--
-- Name: ward_labour_force ward_labour_force_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_labour_force
    ADD CONSTRAINT ward_labour_force_pkey PRIMARY KEY (ward_number, gender);


--
-- Name: ward ward_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward
    ADD CONSTRAINT ward_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_population ward_population_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_population
    ADD CONSTRAINT ward_population_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_recreation ward_recreation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_recreation
    ADD CONSTRAINT ward_recreation_pkey PRIMARY KEY (ward_number, facility_type);


--
-- Name: ward_transit_stops ward_transit_stops_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_transit_stops
    ADD CONSTRAINT ward_transit_stops_pkey PRIMARY KEY (ward_number);


--
-- Name: ward_transport_mode ward_transport_mode_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_transport_mode
    ADD CONSTRAINT ward_transport_mode_pkey PRIMARY KEY (ward_number, transport_mode);


--
-- Name: candidacy candidacy_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate(candidate_id);


--
-- Name: candidacy candidacy_race_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidacy
    ADD CONSTRAINT candidacy_race_id_fkey FOREIGN KEY (race_id) REFERENCES public.race(race_id);


--
-- Name: community_services community_services_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_services
    ADD CONSTRAINT community_services_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: election_result election_result_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate(candidate_id);


--
-- Name: election_result election_result_race_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_race_id_fkey FOREIGN KEY (race_id) REFERENCES public.race(race_id);


--
-- Name: election_result election_result_station_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.election_result
    ADD CONSTRAINT election_result_station_code_fkey FOREIGN KEY (station_code) REFERENCES public.voting_station(station_code);


--
-- Name: race race_election_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_election_id_fkey FOREIGN KEY (election_id) REFERENCES public.election(election_id);


--
-- Name: race race_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.race
    ADD CONSTRAINT race_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: voting_station voting_station_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voting_station
    ADD CONSTRAINT voting_station_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_age_gender ward_age_gender_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_age_gender
    ADD CONSTRAINT ward_age_gender_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_crime ward_crime_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_crime
    ADD CONSTRAINT ward_crime_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_disorder ward_disorder_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_disorder
    ADD CONSTRAINT ward_disorder_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_education ward_education_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_education
    ADD CONSTRAINT ward_education_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_income ward_income_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_income
    ADD CONSTRAINT ward_income_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_labour_force ward_labour_force_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_labour_force
    ADD CONSTRAINT ward_labour_force_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_population ward_population_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_population
    ADD CONSTRAINT ward_population_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_recreation ward_recreation_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_recreation
    ADD CONSTRAINT ward_recreation_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_transit_stops ward_transit_stops_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_transit_stops
    ADD CONSTRAINT ward_transit_stops_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- Name: ward_transport_mode ward_transport_mode_ward_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ward_transport_mode
    ADD CONSTRAINT ward_transport_mode_ward_number_fkey FOREIGN KEY (ward_number) REFERENCES public.ward(ward_number);


--
-- PostgreSQL database dump complete
--

\unrestrict Dq0O4FiSo8s3ZCPaeBeAJeS0iKdRMwbuejZYfdSabxv7g3ezeoPyo0oNnvsgCYp

